.header{
    display: flex;
    justify-content: space-between;
    background-color: #C4C4C4;
    padding: 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;  
    margin: 0 auto;  
    justify-content: space-between;
    align-items: center;       
}

.item{
    margin-right: 1em;
    list-style: none;
}

.item a{
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.item:hover{
    cursor: pointer;
}

img{
    width: 40px;
}
