*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-perfil-admin{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 40px;
}

.imagem-perfil-admin{
    align-items: center;
    justify-items: center;
}

.imagem-perfil-admin > img{
    width: 100%;
}

.imagem-perfil-admin:hover{
    cursor: pointer;
}

.perfil-admin{
    padding: 5px;
    width: 95%;
    margin: 10px;
    background-color: #F3F3F3;
    box-shadow: 0px 3.34625px 3.34625px rgba(0, 0, 0, 0.25);
}

.selecionar{
    margin: 10px;
    margin-top: 15px;
    background-color: #F3F3F3;
    box-shadow: 0px 3.34625px 3.34625px rgba(0, 0, 0, 0.25);
}

.selecionar:hover{
    cursor: pointer;
}
